@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

:root{
  --black:#00010d;
  --white:whitesmoke;
  
  --first:#181818;
  --second:#2b2b2b;
  --third:#ffbf0e;
  
  --PCtitulos:2.4rem;
  --PCtitulos2:1.8rem;
  --PCtexto:1.3rem;
}

body{
  background:var(--first);
}

main > section{
  margin: 1rem auto;
  width: 90%;
  border-radius: 5px;
}

.containerPresentaion{
  position: relative;
  border: 1px transparent solid;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
}
.containerPresentaion h2{
  font-family: "Karma", serif;
}
#backImg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .8;
}
.boxNavPresentation{
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxNavPresentation img{
  width: 6rem;
}
.boxTextPresentation{
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.boxTextPresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.boxNavPresentation aside{
  font-family: "Poppins", sans-serif;
}
.boxTextPresentation h2{
  color: var(--third);
  text-align: center;
  margin: auto;
}
.boxTextPresentation aside{
  margin-block: 0rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--white);
}
.boxTextPresentation img{
  width: 10rem;
}
.containerHairCuts{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.boxHairCutsTitle{
  text-align: center;
  color: var(--white);
  letter-spacing: .1rem;
}
.boxHairCutsTitle h3{
  font-family: "Karma", serif;
}
.boxHairCutsTitle aside{
  font-family: "Poppins", sans-serif;
}
.cardContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: var(--second);
  color: var(--white);
  padding: 1.5rem 1rem;
  border-radius: 5px;
  
}
.cardContent h4{
  font-size: ;
  font-family: "Karma", serif;
  color: var(--third);
  letter-spacing: .2rem;
  font-style: italic;
  text-align: center;
}
.cardContent img{
  border-radius: 5px;
  width: 12rem;
}
.boxHairCutsContent{
  display: flex;
  overflow-x: scroll;
  gap: 3rem;
}
.hairCutPrice{
  display: flex;
  justify-content: space-around;
  width: 15rem;
  letter-spacing: .1rem;
  font-family: "Poppins", sans-serif;
}

.addHairCut{
  border: none;
  outline: nons;
  padding: 10px;
  margin: auto;
}

.containerFuncionamento{
  background: var(--second);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}
.containerFuncionamento h3{
  color: var(--third);
  letter-spacing: .2rem;
  font-family: "Karma", serif;
}
.contentHorarioFuncionamento{
   display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
}
.boxContentHF{
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
.boxContentHF aside{
  font-family: "Poppins", sans-serif;
  letter-spacing: .1rem;
}

.containerLocation{
  background: var(--second);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  color: var(--white);
  padding-block: 2rem;
}
.containerLocation h3{
  letter-spacing: .2rem;
  color: var(--third);
  font-family: "Karma", serif;
}
.boxLocationContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.boxLocationContent p{
  padding-inline:.5rem;
  width: 75%;
  margin: .5rem auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.boxLocationContent img{
  width: 18rem;
}

.fa{
  color: var(--third);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
footer{
  background: var(--black);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 1.5rem;
}
.boxContentFooter:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.boxContentFooter:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}
.boxContentFooter h3{
  color: var(--white);
  font-family: "Karma", serif;
  letter-spacing: .2rem;
}
.boxContentFooter > aside{
  display: flex;
  gap: 2rem;
}
.boxContentFooter aside, p{
  font-family: "Poppins", sans-Serif;
  letter-spacing: .1rem;
}
.boxContentFooter p{
  color: var(--white);
  width: 80%;
  text-align: justify;
}

.boxContentFooter button{
  width: 80%;
  outline: none;
  border: none;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1.5rem;
}

.boxContentFooter button aside{
  font-size: 1.1rem;
}

.footerMap{
  display: flex;
  flex-direction: column;
  gap:.8rem;
  text-align: left;
  padding-left: 2.5rem;
}
.footerMap aside{
  color: var(--white);
}


@media screen and (min-width:720px){
  .containerHairCuts{
    width: 70%;
  }
  .boxHairCutsContent{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .boxHairCutsTitle h3{
    font-size: var(--PCtitulos2);
  }
  .boxHairCutsTitle aside{
    font-size: var(--PCtexto);
  }
  .cardContent{
    font-size: var(--PCtexto);
    padding: 2.4rem;
  }
  
  .boxTextPresentation h2{
    font-size: var(--PCtitulos);
  }
  .boxNavPresentation img{
    width: 8rem;
  }
  .boxTextPresentation img{
    width: 12rem;
  }
  .containerLocation{
    width: 70%;
  }
  .boxLocationContent{
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding-inline: 5rem;
  }
  .boxLocationContent p{
    margin: 0;
    font-size: var(--PCtexto);
    letter-spacing: .2rem;
    text-align: left;
    border: 1px red solid;
    width: 30%;
  }
  .boxLocationContent img{
    width: 10rem;
  }
  .textPresentation{
    font-size: var(--PCtexto);
  }
  .containerFuncionamento{
    width: 70%;
  }
  .containerFuncionamento h3{
    font-size: var(--PCtitulos2);
  }
  .contentHorarioFuncionamento{
    padding-inline: 4rem;
  }
  .contentHorarioFuncionamento aside{
    font-size: var(--PCtexto);
    letter-spacing: .2rem;
  }
  .containerLocation h3{
    font-size: var(--PCtitulos2);
  }
  footer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer h3{
    font-size: var(--PCtitulos2);
  }
  .boxContentFooter{
    width: 33%;
    padding: 0;
  }
  .boxContentFooter aside img{
    width: 5rem;
  }
  .boxContentFooter p{
    width: auto;
    font-size: var(--PCtexto);
  }
    
  .boxContentFooter button{
    width: auto;
    font-size: var(--PCtexto);
    width: 90%;
  }
  .boxContentFooter > aside{
    gap: .5rem;
  }
  .footerMap aside{
    font-size: var(--PCtexto);
  }
}
